﻿@model IEnumerable<WEB2020Apr_P03_T4.Models.Details>

@{
    ViewData["Title"] = "Index";
}
<!-- Done by QH -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/package2.css" />
</head>
<body class="backgroundimgvirus">
    <div class="container" style="background-color:rgba(255,255,255,0.75);width:100%;border-radius:5px;padding-top:1px;">
        <h1 class="textclassheading">Country Details</h1>
        <h1 class="textclassinput">@ViewData["Country"]</h1>
        <h3 class="newtextclassheading">View cases in the country day by day.</h3>
        <table class="table">
            <thead class="tableheadcolor">
                <tr class="tableborder">
                    <th class="textclassinput">
                        Date
                    </th>
                    <th class="textclassinput">
                        Cases
                    </th>
                    <th class="textclassinput">
                        Status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="tableborder">
                        <td class="textclassinput">
                            @Html.DisplayFor(modelItem => item.date)
                        </td>
                        <td class="textclassinput">
                            @Html.DisplayFor(modelItem => item.cases)
                        </td>
                        <td class="textclassinput">
                            Confirmed
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group row morepadding" style="justify-content: center; align-items: center">
            <a class="btn btn-primary deletebutton morepadding" asp-area="" asp-controller="Home" asp-action="Index">Back to Home</a>
        </div>
    </div>
    
</body>
</html>

