﻿@model IEnumerable<WEB2020Apr_P03_T4.Models.Country>

@{
    ViewData["Title"] = "Index";
}
<!-- Done by QH -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/package2.css" />
</head>
<body class="backgroundimgvirus">
    <div class="container" style="background-color:rgba(255,255,255,0.75);width:100%;border-radius:5px;padding-top:1px;">
        <h1 class="textclassheading">View All Countries</h1>
        <h3 class="newtextclassheading">Plan your travels safely by viewing the Covid-19 cases in your destination country.</h3>
        <table class="table">
            <thead class="tableheadcolor">
                <tr class="tableborder">
                    <th class="textclassinput">
                        Country
                    </th>
                    <th class="textclassinput">
                        ISO2
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="tableborder">
                        <td class="textclassinput">
                            @Html.DisplayFor(modelItem => item.country)
                        </td>
                        <td class="textclassinput">
                            @Html.DisplayFor(modelItem => item.ISO2)
                        </td>
                        <td class="textclassinput">
                            <a asp-action="Details" asp-controller="Country" asp-route-slug="@item.slug" asp-route-country="@item.country">View Total cases in country</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group row morepadding" style="justify-content: center; align-items: center">
            <a class="btn btn-primary deletebutton morepadding" asp-area="" asp-controller="Home" asp-action="Index">Back to Home</a>
        </div>
    </div>
   
</body>
</html>

