﻿@model IEnumerable<WEB2020Apr_P03_T4.Models.Booking>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewStaff" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>BookingId</th>
                    <th>CustomerId</th>
                    <th>ScheduleId</th>
                    <th>Passenger Name</th>
                    <th>Passport Number</th>
                    <th>Nationality</th>
                    <th>Amount Paid</th>
                    <th>Seat Class</th>
                    <th>Remarks</th>
                    <th>Date & Time Created</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.BookingID.ToString()</td>
                        <td>@item.CustomerID.ToString()</td>
                        <td>@item.ScheduleID.ToString()</td>
                        <td>@item.PassengerName</td>
                        <td>@item.PassportNumber</td>
                        <td>@item.Nationality</td>
                        <td>@item.AmtPayable.ToString()</td>
                        <td>@item.SeatClass</td>
                        <td>@item.Remarks</td>
                        <td>@item.DateTimeCreated.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div> }
else
{
    <span style="color:red">No record found!</span>
}
