﻿
<h1>@ViewData["Title"]</h1>

<html lang="en">
<!--QH - Done by me-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/package2.css" />
</head>
<body class="backgroundimg">
    <div class="container" style="background-color:rgba(255,255,255,0.75);width:100%;border-radius:5px;padding-top:1px;">
        <h1 class="newtextclassheading" style="margin:20px 0px 20px 0px">About Us</h1>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 align-self-center">
                <h3 class="aboutustext" style="margin:30px 0px 12px 0px;">
                    Lion City Airlines was founded by Mr Charles Keck in 1927. He had a passion for aircraft ever since he was young and when he was successful enough, the first thing he did
                    was to found the airline. We help you travel the skies with ease. We have multiple travel classes with different benefits to help you ride in style.

                </h3>
                <br />
                <h3 class="aboutustext" style="margin:10px 0px 30px 0px;">
                    We are commited to bringing you the best flying experience possible. We operate in
                    over 100 countries all over the world. We have over 300 aircraft from the smallest to the biggest types in our fleet for all kinds of passengers. This website
                    will help you in the process of your booking, making it much easier for you to book online with us. We hope you have a pleasant stay and feel free to reach out to us if you have
                    any enquiries.
                </h3>
                <br />
                <figure style="margin:10px 0px 30px 0px">
                    <img src="~/images/executive.jpg" style='height: 100%; width: 100%; object-fit: contain' alt="">
                    <figcaption>Mr Charles Keck</figcaption>
                </figure>
            </div>
        </div>
    </div>
</body>
</html>
