﻿<h1>@ViewData["Title"]</h1>

<html lang="en">
<!--QH - Done by me-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/package2.css" />
</head>
<body class="backgroundimg3">
    <div class="container" style="background-color:rgba(255,255,255,0.75);width:100%;border-radius:5px;padding-top:1px;">
        <h1 class="newtextclassheading" style="margin:20px 0px 20px 0px">Contact Us</h1>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 align-self-center">
                <br />
                <figure style="margin:10px 0px 30px 0px">
                    <img src="~/images/evil-buildings-kingdom-centre.jpg" style='height: 300px; width: 100%; object-fit: contain' alt="">
                    <figcaption>Headquarters</figcaption>
                </figure>
                <h3 class="aboutustext" style="margin:30px 0px 12px 0px;">
                    Our Headquarters is located at Klingon Avenue 8. This building was designed by world renowed French Architect Monseiur Bagette. It finished construction in 2012 and it has
                    boosted our buisness profit by 300% because of the added professionality. You can visit us for any enquiries you may have. <br /><br />
                </h3>
                <p>
                    Opening Hours : 9am to 9pm Monday to Fridays
                </p>
                <p>
                    Address : Klingon Avenue 8, 03-09 Lion Airlines Building 757695, Singapore
                </p>
                <p>
                    Email : LionAirLines@corp.com
                </p>
                <p>
                    Telephone Number : +6599991234
                </p>
                <br />
            </div>
        </div>
    </div>
</body>
</html>

