﻿@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<!--QH -Fixed Bootstrap issue-->
<!--QH -Done by me-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body class="backgroundimg">
    <div class="container" style="background-color:rgba(255,255,255,0.75);width:100%;border-radius:5px;padding-top:1px;">
        <div class="text-center" style="margin-top:30px">
            <h1 class="newtextclassheading" style="margin:20px 0px 20px 0px">Welcome to Lion City Airlines</h1>
        </div>
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img style="width:100%" src="~/images/plane1.jpg">
                </div>
                <div class="carousel-item">
                    <img style="width:100%" src="~/images/plane2.jpg">
                </div>
                <div class="carousel-item">
                    <img style="width:100%" src="~/images/plane3.jpg">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
        <div class="text-center">
            <h3>Founded by Mr Charles Keck in 1927</h3>
            <h3>Lion City Airlines Aims to provide you the best options for your travelling experience</h3>
        </div>
    </div>
</body>
</html>

