﻿
@{
    ViewData["Title"] = "Login";
}

<!--QH -Done by me-->

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/package2.css" />
</head>
<body class="backgroundimg">
    <div class="container" style="background-color:rgba(255,255,255,0.75);width:100%;border-radius:5px;padding-top:1px;">
        <h1 class="newtextclassheading" style="margin:20px 0px 20px 0px">Login to Lion City Airlines</h1>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" style="text-align:center">
                <fieldset class="loginFieldset">
                    <form method="post" action="~/Home/UserLogin">
                        <div class="form-group row morepadding" style="justify-content: center; align-items: flex-start ; margin-top:50px">
                            <label for="txtLoginID">Login ID:</label>
                            <input type="email" style="margin-left:5px ;" name="txtLoginID" id="txtLoginID" required /><br />
                        </div>
                        <div class="form-group row morepadding" style="justify-content: center; align-items: flex-start">
                            <label for="txtPassword">Password:</label>
                            <input style="margin-left:5px" type="password" name="txtPassword" id="txtPassword" required /> <br />
                        </div>
                        <div class="form-group row morepadding" style="justify-content: center; align-items: center">
                            <input style="        justify-content: center;
        align-items: center" class="myButton" type="submit" id="btnStaffLogin"
                                   value="Login" />
                        </div>
                        <br />
                        <span style="color:red;">@TempData["Message"]</span> <br />
                        <div class="form-group row morepadding" style="justify-content: center; align-items: center">
                            <a href="~/Customer/RegisterView">No account? Register Here</a>
                        </div>
                    </form>
                </fieldset>

            </div>
        </div>

    </div>
</body>


</html>

