﻿<h1>@ViewData["Title"]</h1>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/package2.css" />
</head>
<!--QH - Done by me-->
<body class="backgroundimg2">
    <div class="container" style="background-color:rgba(255,255,255,0.75);width:100%;border-radius:5px;padding-top:1px;">
        <h1 class="newtextclassheading" style="margin:20px 0px 20px 0px">News</h1>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 align-self-center">
                <div class="row">
                    <div class="col-md-4">
                        <figure style="margin:10px 0px 30px 0px">
                            <img src="~/images/covid.jpg" style='height: 300px; width: 100%; object-fit: contain' alt="">
                            <figcaption>Covid-19 Virus</figcaption>
                        </figure>
                        <h3 class="aboutustext" style="margin:10px 0px 30px 0px;">
                            AUGUST 5. Due to the massive increase of cases in the United States, all passengers scheduled on flights to the United States has to go through mandatory
                            2 week quarantine before being allowed to board. Director General John Smith of the US Health Department has said "This is not fake news" when replying to
                            journalists inquiring about the mandatory quarantine.
                        </h3>
                        <br />
                    </div>
                    <div class="col-md-4">
                        <figure style="margin:10px 0px 30px 0px">
                            <img src="~/images/airport.jpg" style='height: 300px; width: 100%; object-fit: contain' alt="">
                            <figcaption>Airport</figcaption>
                        </figure>
                        <h3 class="aboutustext" style="margin:10px 0px 30px 0px;">
                            AUGUST 2. Flights to Japan has been banned by the Japanese Government. All passengers scheduled on flights to Japan will be given a full discount on one future flight
                            they book. There will be NO refunds issued. We are sorry for the inconvenience.
                        </h3>
                        <br />
                    </div>
                    <div class="col-md-4">
                        <figure style="margin:10px 0px 30px 0px">
                            <img src="~/images/newst.jpg" style='height: 300px; width: 100%; object-fit: contain' alt="">
                            <figcaption>Boeing 19292 Aircraft</figcaption>
                        </figure>
                        <h3 class="aboutustext" style="margin:10px 0px 30px 0px;">
                            AUGUST 1. We are happy to announce that a new type of Aircraft will be added to our fleet. This means that there are 305 aircraft in service
                            under Lion Airlines. We will be commemorating this occasion by inviting 5 lucky customers to our headquarters in Singapore. They will be given tour of the brand
                            new aircraft before anyone else.
                        </h3>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <figure style="margin:10px 0px 30px 0px">
                            <img src="~/images/worlds.png" style='height: 300px; width: 100%; object-fit: contain' alt="">
                            <figcaption>Worlds 2020 Shanghai</figcaption>
                        </figure>
                        <h3 class="aboutustext" style="margin:10px 0px 30px 0px;">
                            JULY 29. We are excited to announce our partnership with Riot Games for the League of Legends World Championship 2020 set in Shanghai. We will provide
                            air services to all casters and players to Shanghai. To celebrate this occasion, flights to China will be on a 10% discount*.
                        </h3>
                        <br />
                    </div>
                    <div class="col-md-4">
                        <figure style="margin:10px 0px 30px 0px">
                            <img src="~/images/Singapore.jpg" style='height: 300px; width: 100%; object-fit: contain' alt="">
                            <figcaption>Singapore</figcaption>
                        </figure>
                        <h3 class="aboutustext" style="margin:10px 0px 30px 0px;">
                            JULY 25. Due to the Singapore Economy suffering greatly in this Covid-19 Pandemic, we will be offering flights to Singapore on a discount. The objective of this
                            is to boost Singapore's suffering tourism industry. All passengers are required to quarantine for 14 days after alighting at a hotel.
                        </h3>
                        <br />
                    </div>
                    <div class="col-md-4">
                        <figure style="margin:10px 0px 30px 0px">
                            <img src="~/images/gundam.jpg" style='height: 300px; width: 100%; object-fit: contain' alt="">
                            <figcaption>Unicorn Gundam in Odaiba</figcaption>
                        </figure>
                        <h3 class="aboutustext" style="margin:10px 0px 30px 0px;">
                            JULY 23. To celebrate the 40th Anniversary of Mobile Suit Gundam, all flights to Tokyo, Japan will have a free tour included. The free tour will bring you to 
                            Odaiba City to view the Life Sized Unicorn Gundam. This promotion will last until July 28.
                        </h3>
                        <br />
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>

