﻿@{
    ViewData["Title"] = "Package2Main";
}
<!-- Done by QH -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/package2.css" />
</head>
<body class="backgroundimgp2main">
    <div class="container" style="background-color:rgba(255,255,255,0.75);width:100%;border-radius:5px;padding-top:1px;">
        <h1 class="newtextclassheading">Package 2 Main Page</h1>
        <hr />
        <fieldset class="fieldsetmain">
            <div class="row">
                <div class="col-sm-4">
                    <a class="" asp-area="" asp-controller="FlightRoute" asp-action="Create">
                        <img id="imgMainPic" src="~/images/flightrouteimage.jpg" class="img-responsive fit-image" />
                    </a>
                </div>
                <div class="col-sm-4">
                    <a class="" asp-area="" asp-controller="FlightSchedule" asp-action="Index">
                        <img id="imgMainPic" src="~/images/flightscheduleimage.jpg" class="img-responsive fit-image" />
                    </a>
                </div>
                <div class="col-sm-4">
                    <a class="" asp-area="" asp-controller="FlightRoute" asp-action="Index">
                        <img id="imgMainPic" src="~/images/viewflights.jpg" class="img-responsive fit-image" />
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a class="" asp-area="" asp-controller="FlightRoute" asp-action="Create">
                        <h1 class="deletebutton">Define Flight Route</h1>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a class="" asp-area="" asp-controller="FlightSchedule" asp-action="Index">
                        <h1 class="deletebutton">View Flight Schedules</h1>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a class="" asp-area="" asp-controller="FlightRoute" asp-action="Index">
                        <h1 class="deletebutton">View Flight Routes</h1>
                    </a>
                </div>
            </div>
        </fieldset>
    </div>


</body>




</html>
