﻿@model IEnumerable<WEB2020Apr_P03_T4.Models.StaffView>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width, initial-scale = 1" />
    <title>FlightPersonnel</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/FlightPersonnel.css">
</head>

<body>
    <h1 align ="center">Personnel Assignment</h1>


    <div class="container">
        <div class="row" border-style: solid;>
            <div class="col">
                <h3>Flight Personnel</h3>
            </div>
            <div class="col">
                <a asp-action="Create"> <img src="~/Images/plus_sign.png" width="20" height="20" align="right"/></a>
            </div>
        </div>
    </div>

    @if (Model.ToList().Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class=thead.light>
                    <tr>
                        <th>Staff Name</th>
                        <th>Vocation</th>
                        <th>Flight Schedule ID</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.StaffName</td>
                            <td>@item.Vocation</td>
                            <td>@item.ScheduleID</td>
                            <td>@item.Status</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    else
    {
        <h2>
            No record found
        </h2>
    }


    <button>
        Assign Flight Personnel
    </button>

    <button>
        Update Flight Personnel
    </button>
</body>