﻿@model Group4WEB.Models.FlightRoute

@{
    ViewData["Title"] = "Create";
}

<!-- Done by QH -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/package2.css" />
</head>
<body>
    <h1 class="textclassheading">Define Flight Route</h1>
    <hr />
    <div class="container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row morepadding">
                <div class="col-sm-4">
                    <label asp-for="DepartureCity" class="control-label padding1 textclassinput">Departure City</label>
                </div>
                <div class="col-sm-8">
                    <input asp-for="DepartureCity" class="form-control inputbox float-right padding1" />
                    <span asp-validation-for="DepartureCity" class="text-danger"></span>
                </div>
            </div>
            <div class="row morepadding">
                <div class="col-sm-4">
                    <label asp-for="DepartureCountry" class="control-label padding1 textclassinput"> Departure Country</label>
                </div>
                <div class="col-sm-8">
                    <input asp-for="DepartureCountry" class="form-control inputbox padding1" />
                    <span asp-validation-for="DepartureCountry" class="text-danger"></span>
                </div>
            </div>
            <div class="row morepadding">
                <div class="col-sm-4">
                    <label asp-for="ArrivalCity" class="control-label padding1 textclassinput">Arrival City</label>
                </div>
                <div class="col-sm-8">
                    <input asp-for="ArrivalCity" class="form-control inputbox padding1" />
                    <span asp-validation-for="ArrivalCity" class="text-danger"></span>
                </div>
            </div>
            <div class="row morepadding">
                <div class="col-sm-4">
                    <label asp-for="ArrivalCountry" class="control-label padding1 textclassinput">Arrival Country</label>
                </div>
                <div class="col-sm-8">
                    <input asp-for="ArrivalCountry" class="form-control inputbox padding1" />
                    <span asp-validation-for="ArrivalCountry" class="text-danger"></span>
                </div>
            </div>
            <div class="row morepadding">
                <div class="col-sm-4">
                    <label asp-for="FlightDuration" class="control-label padding1 textclassinput">Flight Duration</label>
                </div>
                <div class="col-sm-8">
                    <input asp-for="FlightDuration" class="form-control inputbox padding1" />
                    <span asp-validation-for="FlightDuration" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row morepadding" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <input type="submit" value="Create" class="btn btn-primary deletebutton padding1" />
            </div>
        </form>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
