.flexbox-container{
  display:flex;
  justify-content: center;
  
}
h2{
  text-align: center;
}
.flexbox-container2{
  display: flex;
  flex-direction: column;
  border:black 1px solid
  
}
input{
  
  margin:10px;

}
label{
  margin:20px;

}

  
  