.title {
  text-align: center;
  margin-bottom: 100px;
}
.flexbox-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.flexbox-container2{
  display: flex;
  flex-direction: column;
  border:1px solid black;
  width:500px;


}
.flexbox-item{
  display: flex;
  justify-content: space-between;

  
}
p{
  border:1px solid black;
  margin: 5px;
  padding: 5px;
}
.table-responsive {
    height:500px;

}
.flexbox-container3 {
    display: flex;
    flex-direction: row;
    
}
.table-container{
    margin-right:50px;
    margin-left:50px;
    margin-top:50px;
}


