.title{
  text-align: center;
  margin-bottom:100px;

}
.flexbox-container{
  
  display:flex;
  justify-content: space-between;
  

}
.flexbox-container2{
  display:flex;
  justify-content:flex-start;
  flex-direction:column;
  

  
}
#plus-icon{
 max-width:100%;
 width: 100px;
 height:auto;

}  
.flexbox-container3{
  display:flex
  
  

}
.flexbox-item{
  display:flex;
  width:100%;
  justify-content: space-between;
  
  
  
}
input{
  margin-right:20px;
}
.flexbox-container4{
  display:flex;
  border:1px solid black;
}

.legend{
  font-size: 30px;
  margin-left:40px;

  
}
.datarow{
  border:black 1px solid;
  display:flex;
}
.datacolumn{
  border:black 1px solid;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}

