﻿
@{
    ViewData["Title"] = "Package2Main";
}
<!-- Done by QH -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/package2.css" />
</head>
<body>
    <div class="container">
        <h1 class="textclassheading">Package2Main</h1>
        <hr />
        <fieldset class="fieldsetmain">
            <div class="row">
                <div class="col-sm-4">
                    <a class="" asp-area="" asp-controller="FlightRoute" asp-action="Create">
                        <img id="imgMainPic" src="~/images/flightrouteimage.jpg" class="img-responsive fit-image" />
                    </a>
                </div>
                <div class="col-sm-4">
                    <a class="" asp-area="" asp-controller="FlightSchedule" asp-action="Index">
                        <img id="imgMainPic" src="~/images/flightscheduleimage.jpg" class="img-responsive fit-image" />
                    </a>
                </div>
                <div class="col-sm-4">
                    <a class="" asp-area="" asp-controller="FlightRoute" asp-action="Index">
                        <img id="imgMainPic" src="~/images/viewflights.jpg" class="img-responsive fit-image" />
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h1 class="deletebutton">Define Flight Route</h1>
                </div>
                <div class="col-sm-4">
                    <h1 class="deletebutton">View Flight Schedules</h1>
                </div>
                <div class="col-sm-4">
                    <h1 class="deletebutton">View Flight Routes</h1>
                </div>
            </div>
        </fieldset>
    </div>


</body>




</html>






