﻿@model IEnumerable<WEB2020Apr_P03_T4.Models.FlightRoute>

@{
    ViewData["Title"] = "Index";
}

<!-- Done by QH -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/package2.css" />
</head>
<body class="backgroundimgFlightRoute">
    <div class="container" style="display:table;background-color:rgba(255,255,255,0.75);width:100%;border-radius:5px;padding-top:1px;">
        <h1 class="newtextclassheading">View Flight Routes</h1>
        <div class="form-group row morepadding" style="justify-content: center; align-items: center">
            <a class="btn btn-primary deletebutton morepadding" asp-action="Create">Create New Flight Route</a>
            <a class="btn btn-primary deletebutton morepadding" asp-area="" asp-controller="FlightSchedule" asp-action="Index">View Flight Schedules</a>
        </div>
        <table class="table">
            <thead class="tableheadcolor">
                <tr class="tableborder">
                    <th class="textclassinput">
                        Route ID
                    </th>
                    <th class="textclassinput">
                        Departure City
                    </th>
                    <th class="textclassinput">
                        Departure Country
                    </th>
                    <th class="textclassinput">
                        Arrival City
                    </th>
                    <th class="textclassinput">
                        Arrival Country
                    </th>
                    <th class="textclassinput">
                        Flight Duration
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="tableborder">
                        <td class="textclassinput">
                            @Html.DisplayFor(modelItem => item.RouteID)
                        </td>
                        <td class="textclassinput">
                            @Html.DisplayFor(modelItem => item.DepartureCity)
                        </td>
                        <td class="textclassinput">
                            @Html.DisplayFor(modelItem => item.DepartureCountry)
                        </td>
                        <td class="textclassinput">
                            @Html.DisplayFor(modelItem => item.ArrivalCity)
                        </td>
                        <td class="textclassinput">
                            @Html.DisplayFor(modelItem => item.ArrivalCountry)
                        </td>
                        <td class="textclassinput">
                            @Html.DisplayFor(modelItem => item.FlightDuration)
                        </td>
                        <td class="textclassinput">
                            <a asp-action="ListSpecific" asp-controller="FlightSchedule" asp-route-id="@item.RouteID">View Flight Schedules under this Flight Route</a> |
                            <a asp-action="Create" asp-controller="FlightSchedule" asp-route-id="@item.RouteID">Create Flight Schedule</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group row morepadding" style="justify-content: center; align-items: center">
            <a class="btn btn-primary deletebutton morepadding" asp-area="" asp-controller="Home" asp-action="Package2Main">Back to Main</a>
        </div>
    </div>
</body>
</html>

