﻿@model Group4WEB.Models.FlightSchedule

@{
    ViewData["Title"] = "Delete";
}

<h1 class="textclassheading">Delete Flight Schedule</h1>

<form asp-action="Delete">
    <fieldset class="FormContent">
        <legend>Are you sure you want to delete this record?</legend>
        <div class="form-group row">
            <label asp-for="ScheduleID" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="ScheduleID" readonly class="form-control-plaintext" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="FlightNumber" class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="FlightNumber" readonly class="form-control-plaintext" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Delete" class="btn btn-primary deletebutton" />
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </fieldset>
</form>
