﻿@model IEnumerable<Group4WEB.Models.FlightSchedule>

@{
    ViewData["Title"] = "Index";
}
<!-- Done by QH -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/package2.css" />
</head>
<body>
    <h1 class="textclassheading">View All Flight Schedules</h1>
    <div class="form-group row morepadding" style="justify-content: center; align-items: center">
        <a class="btn btn-primary deletebutton morepadding" asp-controller="FlightRoute" asp-action="Index">Back to Flight Routes</a>
    </div>
    <table class="table">
        <thead class="tableheadcolor">
            <tr class="tableborder">
                <th class="textclassinput">
                    Schedule ID
                </th>
                <th class="textclassinput">
                    Flight Number
                </th>
                <th class="textclassinput">
                    Route ID
                </th>
                <th class="textclassinput">
                    Aircraft ID
                </th>
                <th class="textclassinput">
                    Departure Date and Time
                </th>
                <th class="textclassinput">
                    Arrival Date and Time
                </th>
                <th class="textclassinput">
                    Economy Class Price
                </th>
                <th class="textclassinput">
                    Business Class Price
                </th>
                <th class="textclassinput">
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="tableborder">
                    <td class="textclassinput">
                        @Html.DisplayFor(modelItem => item.ScheduleID)
                    </td>
                    <td class="textclassinput">
                        @Html.DisplayFor(modelItem => item.FlightNumber)
                    </td>
                    <td class="textclassinput">
                        @Html.DisplayFor(modelItem => item.RouteID)
                    </td>
                    <td class="textclassinput">
                        @Html.DisplayFor(modelItem => item.AircraftID)
                    </td>
                    <td class="textclassinput">
                        @Html.DisplayFor(modelItem => item.DepartureDateTime)
                    </td>
                    <td class="textclassinput">
                        @Html.DisplayFor(modelItem => item.ArrivalDateTime)
                    </td>
                    <td class="textclassinput">
                        @Html.DisplayFor(modelItem => item.EconomyClassPrice)
                    </td>
                    <td class="textclassinput">
                        @Html.DisplayFor(modelItem => item.BusinessClassPrice)
                    </td>
                    <td class="textclassinput">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td class="textclassinput">
                        <a asp-action="Package2List" asp-controller="Booking" asp-route-id="@item.ScheduleID">View Ticket Bookings</a> |
                        <a asp-action="Delete" asp-controller="FlightSchedule" asp-route-id="@item.ScheduleID">Delete</a> |
                        <a asp-action="EditStatus" asp-controller="FlightSchedule" asp-route-id="@item.ScheduleID">Edit Status</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group row morepadding" style="justify-content: center; align-items: center">
        <a class="btn btn-primary deletebutton morepadding" asp-area="" asp-controller="Home" asp-action="Package2Main">Back to Main</a>
    </div>
</body>
</html>



