﻿@model IEnumerable<Group4WEB.Models.FlightSchedule>

@{
    ViewData["Title"] = "Index";
}
<!-- Done by QH -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/package2.css" />
</head>
<body>
    <h1 class="textclassheading">View All Flight Schedules</h1>
    <div class="form-group row morepadding" style="justify-content: center; align-items: center">
        <a class="btn btn-primary deletebutton morepadding" asp-controller="FlightRoute" asp-action="Index">Back to Flight Routes</a>
    </div>
    <table class="table">
        <thead class="tableheadcolor">
            <tr class="tableborder">
                <th>
                    @Html.DisplayNameFor(model => model.ScheduleID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlightNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RouteID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AircraftID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartureDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivalDateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EconomyClassPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BusinessClassPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="tableborder">
                    <td class="textclassinput">
                        Schedule ID
                    </td>
                    <td class="textclassinput">
                        Flight Number
                    </td>
                    <td class="textclassinput">
                        Route ID
                    </td>
                    <td class="textclassinput">
                        Aircraft ID
                    </td>
                    <td class="textclassinput">
                        Departure Date and Time
                    </td>
                    <td class="textclassinput">
                        Arrival Date and Time
                    </td>
                    <td class="textclassinput">
                        Economy Class Price
                    </td>
                    <td class="textclassinput">
                        Business Class Price
                    </td>
                    <td class="textclassinput">
                        Status
                    </td>
                    <td class="textclassinput">
                        <a asp-action="Package2List" asp-controller="Booking" asp-route-id="@item.ScheduleID">View Ticket Bookings</a> |
                        <a asp-action="Delete" asp-controller="FlightSchedule" asp-route-id="@item.ScheduleID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group row morepadding" style="justify-content: center; align-items: center">
        <a class="btn btn-primary deletebutton morepadding" asp-area="" asp-controller="Home" asp-action="Package2Main">Back to Main</a>
    </div>
</body>
</html>

