﻿.flexbox-container{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}

.myButton {
    border: 2px solid darkblue;
    border-radius: 5px;
    padding: 5px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none
}
