﻿body {
    font-family: Arial;
    font-size: 14px;
}

.PageTitle {
    text-align: center;
    font-weight: bold;
    color: brown;
}

.FormContent {
    padding: 10px;
    margin: auto;
    width: 95%;
}

.col-form-label {
    text-align: right;
    font-weight: bold;
}

#mainContainer {
    border: 1px solid #000000;
    margin: auto;
    width: 80%;
    padding: 4px;
}

fieldset {
    border: 2px solid royalblue;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
}

    fieldset legend {
        padding: 4px;
        font-size: 16px;
        font-weight: bold;
        color: black;
        width: auto;
    }

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.loginFieldset {
    min-height: 130px;
    margin-left: 4px;
    margin-right: 0px;
}

    .loginFieldset label {
        display: inline-block;
        padding: 6px;
        width: 70px;
    }

.img1 {
    display: block;
    max-width: 100%;
    height: auto;
}

.myButton {
    border: 2px solid darkblue;
    border-radius: 5px;
    padding: 5px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none
}

.deletebutton {
    border: 2px solid darkblue;
    border-radius: 5px;
    padding: 5px;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    text-decoration: none
}

.textcolor1 {
    color: white;
}

.textclassheading {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

@media screen and (max-width: 918px) {
    .loginFieldset {
        min-height: 0px;
        width: 280px;
    }
}

@media screen and (max-width: 772px) {
    .flex-container {
        flex-direction: column;
    }

    .loginFieldset {
        min-height: 0px;
        width: 95%;
    }

    #mainContainer {
        padding: 0;
        border: none;
    }
}

.navbar .navbar-brand img {
    height: 50px;
}

.nav-link {
    color: white;
    text-align: center;
    display: inline-block
}

.navbar {
    background-color: black;
}

.inputbox {
    border: 2px solid black;
}

.padding1 {
    padding: 5px;
}

.fit-image {
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    height: 600px;
}

.fieldsetmain {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

.textclassinput {
    text-align: center;
    font-weight: bold;
}

.morepadding {
    padding: 15px;
}

.tableheadcolor {
    background-color: royalblue;
    color: white;
}

.tableborder {
    border: 2px solid royalblue;
}

footer {
    height: 10%;
    background-color:white;
}

li {
    display: inline;
    margin-right: 35px;
}
