﻿ @model WEB2020Apr_P03_T4.Models.Booking

@{
    ViewData["Title"] = "BookingForm";
}

<h1>BookingForm</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookingForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none">
                <label asp-for="ScheduleID" class="control-label"></label>
                <input asp-for="ScheduleID" class="form-control" />
                <span asp-validation-for="ScheduleID" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                <label asp-for="CustomerID" class="control-label"></label>
                <input asp-for="CustomerID" value="@Context.Session.GetString("CustomerID")" class="form-control" />
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerName" class="control-label"></label>
                <input asp-for="PassengerName" class="form-control" />
                <span asp-validation-for="PassengerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassportNumber" class="control-label"></label>
                <input asp-for="PassportNumber" class="form-control" />
                <span asp-validation-for="PassportNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatClass" class="control-label"></label>
                <input asp-for="SeatClass" class="form-control" />
                <span asp-validation-for="SeatClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

