﻿
@{
    ViewData["Title"] = "StaffMain";
}
<!-- Done by QH -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/package2.css" />
</head>
<body class="backgroundimgp2main">
    <div class="container" style="background-color:rgba(255,255,255,0.75);width:100%;border-radius:5px;padding-top:1px;">
        <h1 class="newtextclassheading">Staff Main</h1>
        <hr />
        <div class="row">
            <div class="col-sm-4">
                <a class="" asp-area="" asp-controller="Home" asp-action="Package2Main">
                    <img style='height: 300px; width: 100%; object-fit: contain' src="~/images/clipboard.png" class="img-responsive fit-image mainimage" />
                </a>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <a class="" asp-area="" asp-controller="Aircraft" asp-action="Index">
                    <img style='height: 300px; width: 100%; object-fit: contain' src="~/images/p4.jpg" class="img-responsive fit-image mainimage" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a class="" asp-area="" asp-controller="Home" asp-action="Package2Main">
                    <h1 class="deletebutton">Scheduling</h1>
                </a>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <a class="" asp-area="" asp-controller="Aircraft" asp-action="Index">
                    <h1 class="deletebutton">Aircraft</h1>
                </a>
            </div>
        </div>
    </div>


</body>
</html>

