﻿@model WEB2020Apr_P03_T4.Models.FlightSchedule

@{
    ViewData["Title"] = "Create";
}

<!-- Done by QH -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/package2.css" />
</head>
<body class="backgroundimgFlightSchedule">
    <div class="container" style="background-color:rgba(255,255,255,0.75);width:100%;border-radius:5px;padding-top:1px;">
        <h1 class="newtextclassheading">Create Flight Schedule</h1>
        <hr />
        <div class="container">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row morepadding" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                    <h1 class="textclassinput">Route ID : @ViewData["ID"]</h1>
                </div>
                <div class="row morepadding" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                    <h1 class="textclassinput">@ViewData["Error"]</h1>
                </div>
                <div class="row morepadding">
                    <div class="col-sm-4">
                        <label asp-for="FlightNumber" class="control-label textclassinput"></label>
                    </div>
                    <div class="col-sm-8">
                        <input asp-for="FlightNumber" class="form-control inputbox" />
                        <span asp-validation-for="FlightNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="row morepadding" style="display: none;">
                    <div class="col-sm-4">
                        <label asp-for="RouteID" class="control-label textclassinput"></label>
                    </div>
                    <div class="col-sm-8">
                        <input asp-for="RouteID" value="@ViewData["ID"]" class="form-control inputbox" />
                        <span asp-validation-for="RouteID" class="text-danger"></span>
                    </div>
                </div>
                <div class="row morepadding">
                    <div class="col-sm-4">
                        <label asp-for="AircraftID" class="control-label textclassinput"></label>
                    </div>
                    <div class="col-sm-8">
                        <select asp-for="AircraftID" asp-items="@ViewData["AircraftList"] as List<SelectListItem>" class="form-control inputbox"></select>
                        <span asp-validation-for="AircraftID" class="text-danger"></span>
                    </div>
                </div>
                <div class="row morepadding">
                    <div class="col-sm-4">
                        <label asp-for="DepartureDateTime" class="control-label textclassinput"></label>
                    </div>
                    <div class="col-sm-8">
                        <input asp-for="DepartureDateTime" type="datetime-local" class="form-control inputbox" />
                        <span asp-validation-for="DepartureDateTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="row morepadding">
                    <div class="col-sm-4">
                        <label asp-for="EconomyClassPrice" class="control-label textclassinput"></label>
                    </div>
                    <div class="col-sm-8">
                        <input asp-for="EconomyClassPrice" class="form-control inputbox" />
                        <span asp-validation-for="EconomyClassPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="row morepadding">
                    <div class="col-sm-4">
                        <label asp-for="BusinessClassPrice" class="control-label textclassinput"></label>
                    </div>
                    <div class="col-sm-8">
                        <input asp-for="BusinessClassPrice" class="form-control inputbox" />
                        <span asp-validation-for="BusinessClassPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="row morepadding">
                    <div class="col-sm-4">
                        <label asp-for="Status" class="control-label textclassinput"></label>
                    </div>
                    <div class="col-sm-8">
                        <select asp-for="Status" class="form-control inputbox">
                            <option value="Cancelled">Cancelled</option>
                            <option value="Delayed">Delayed</option>
                            <option value="Full">Full</option>
                            <option value="Opened">Opened</option>
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row morepadding" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                    <input type="submit" value="Create" class="btn btn-primary deletebutton padding1" />
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
