﻿@model WEB2020Apr_P03_T4.Models.FlightSchedule

@{
    ViewData["Title"] = "Delete";
}
<!-- Done by QH -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/package2.css" />
</head>
<body class="backgroundimgp2main">
    <div class="container" style="background-color:rgba(255,255,255,0.75);width:100%;border-radius:5px;padding-top:1px;">
        <h1 class="newtextclassheading">Delete Flight Schedule</h1>

        <form asp-action="Delete">
            <fieldset class="FormContent">
                <legend>Are you sure you want to delete this record?</legend>
                <div class="form-group row">
                    <label asp-for="ScheduleID" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 col-md-5">
                        <input asp-for="ScheduleID" readonly class="form-control-plaintext" />
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="FlightNumber" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9 col-md-5">
                        <input asp-for="FlightNumber" readonly class="form-control-plaintext" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-9 offset-sm-3">
                        <input type="submit" value="Delete" class="btn btn-primary deletebutton" />
                    </div>
                </div>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>

            </fieldset>
        </form>
    </div>
</body>
</html>


