﻿@model WEB2020Apr_P03_T4.Models.FlightSchedule

@{
    ViewData["Title"] = "EditStatus";
}

<!-- Done by QH -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/package2.css" />
</head>
<body class="backgroundimgFlightSchedule">
    <div class="container" style="background-color:rgba(255,255,255,0.75);width:100%;border-radius:5px;padding-top:1px;">
        <h1 class="newtextclassheading">Edit Status</h1>
        <hr />
        <div class="form-group row morepadding" style="justify-content: center; align-items: center">
            <a class="btn btn-primary deletebutton morepadding" asp-controller="FlightSchedule" asp-action="Index">Back to Flight Schedules</a>
        </div>
        <div class="container">
            <form asp-action="EditStatus">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input style="display: none;" asp-for="ScheduleID" readonly class="form-control-plaintext" />
                    <input style="display: none;" asp-for="FlightNumber" readonly class="form-control-plaintext" />
                    <input style="display: none;" asp-for="RouteID" readonly class="form-control-plaintext" />
                    <input style="display: none;" asp-for="AircraftID" readonly class="form-control-plaintext" />
                    <input style="display: none;" asp-for="DepartureDateTime" readonly class="form-control-plaintext" />
                    <input style="display: none;" asp-for="ArrivalDateTime" readonly class="form-control-plaintext" />
                    <input style="display: none;" asp-for="EconomyClassPrice" readonly class="form-control-plaintext" />
                    <input style="display: none;" asp-for="BusinessClassPrice" readonly class="form-control-plaintext" />
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control inputbox">
                        <option value="Cancelled">Cancelled</option>
                        <option value="Delayed">Delayed</option>
                        <option value="Full">Full</option>
                        <option value="Opened">Opened</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group row morepadding" style="justify-content: center; align-items: center">
                    <input type="submit" value="Save" class="btn btn-primary deletebutton morepadding" />
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>

