﻿@model IEnumerable<WEB2020Apr_P03_T4.Models.FlightSchedule>

@{
    ViewData["Title"] = "Index";
}
<!-- Done by QH -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/package2.css" />
</head>
<body class="backgroundimgFlightSchedule">
    <div class="container" style="background-color:rgba(255,255,255,0.75);width:100%;border-radius:5px;padding-top:1px;display:table">
        <h1 class="newtextclassheading">View All Flight Schedules</h1>
        <div class="form-group row morepadding" style="justify-content: center; align-items: center">
            <a class="btn btn-primary deletebutton morepadding" asp-controller="FlightRoute" asp-action="Index">Back to Flight Routes</a>
        </div>
        <table class="table">
            <thead class="tableheadcolor">
                <tr class="tableborder">
                    <th>
                        @Html.DisplayNameFor(model => model.ScheduleID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FlightNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RouteID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AircraftID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartureDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ArrivalDateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EconomyClassPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BusinessClassPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="tableborder">
                        <td class="textclassinput">
                            @Html.DisplayFor(modelItem => item.ScheduleID)
                        </td>
                        <td class="textclassinput">
                            @Html.DisplayFor(modelItem => item.FlightNumber)
                        </td>
                        <td class="textclassinput">
                            @Html.DisplayFor(modelItem => item.RouteID)
                        </td>
                        <td class="textclassinput">
                            @Html.DisplayFor(modelItem => item.AircraftID)
                        </td>
                        <td class="textclassinput">
                            @Html.DisplayFor(modelItem => item.DepartureDateTime)
                        </td>
                        <td class="textclassinput">
                            @Html.DisplayFor(modelItem => item.ArrivalDateTime)
                        </td>
                        <td class="textclassinput">
                            @Html.DisplayFor(modelItem => item.EconomyClassPrice)
                        </td>
                        <td class="textclassinput">
                            @Html.DisplayFor(modelItem => item.BusinessClassPrice)
                        </td>
                        <td class="textclassinput">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td class="textclassinput">
                            <a asp-action="Package2List" asp-controller="Booking" asp-route-id="@item.ScheduleID">View Ticket Bookings</a> |
                            <a asp-action="Delete" asp-controller="FlightSchedule" asp-route-id="@item.ScheduleID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group row morepadding" style="justify-content: center; align-items: center">
            <a class="btn btn-primary deletebutton morepadding" asp-area="" asp-controller="Home" asp-action="Package2Main">Back to Main</a>
        </div>
    </div> 
</body>
</html>

