﻿<nav class="navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img id="imgMainPic" src="~/images/blueplane.jpg" class="img" style="display:block;" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="StaffMain" asp-action="Index">Staff Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Package2Main">Flight Scheduling (Package 2)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="~/Home/Package3Main">Package 3 Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " asp-area="" asp-controller="Aircraft" asp-action="Index">Aircraft </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Logout">Log Out</a>
                </li>

            </ul>
        </div>
    </div>
</nav>