﻿
@{
    ViewData["Title"] = "Package1Main";
}

<h1>Package1Main</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="RegisterView">Register</a>

<a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Changepw">Change password</a>