﻿@model IEnumerable<WEB2020Apr_P03_T4.Models.AircraftViewModel>
    <head>
        <!-- Use Unicode character encoding - multi-language compatibity -->
        <meta charset="utf-8">
        <!-- Set the initial view zooming scale for mobile device -->
        <meta name="viewport" content="width = device-width, initial-scale = 1" />
        <title>Aircrafts</title>
        <!-- Reference to customized styling for this website -->
        <link rel="stylesheet" type="text/css" href="~/css/Aircraft/ViewAircraft.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
                $("input[name='filterStatus']").change(function () {

                    var count1 = $("input[name='filterStatus']:checked").length;

                    $("#my_table>tbody> tr").each(function () {
                        var count2 = 0;
                        var row = $(this);
                        $("input[name='filterStatus']:checked").each(function () {
                            var inputVal = $(this).val();
                            if (row.find('.' + inputVal).html().indexOf("Show Operational") >= 0) {
                                count2++;
                            }
                        });

                        if (count1 == count2) row.show();
                        else row.hide();
                    });
                });
            </script>


    </head>
    <body>
        <div class="title">
            <h2><u>Aircraft Assignment</u></h2>
        </div>
        <div class=flexbox-container>
            <div class=flexbox-container2>
                <div class=flexbox-container3>
                    <div class=flexbox-item>
                        <label for="showoperational">Show Operational</label>
                        <input type=checkbox name="filterStatus" value="showoperational" id="showOperational" >
                    </div>
                    <div class=flexbox-item>
                        <label for="showundermaintenance">Show Under Maintenance</label>
                        <input type=checkbox name="showundermaintenance" value="showundermaintenance">
                    </div>
                    </div>
                <div class="flexbox-container3">
                    <div class=flexbox-item>
                        <label for="showlastmaintaned">Show Last Maintained 30 days ago</label>
                        <input type=checkbox name="showlastmaintaned" value="showlastmaintaned">
                    </div>
                    <div class=flexbox-item>
                        <label for="showNoFlights">Show aircraft with no upcoming flights</label>
                        <input type=checkbox name="showNoFlights" value="showNoFlights">
                    </div>
                </div>
            </div>
            <div>
                <a asp-action="Create"><img id=plus-icon src="~/images/plus.png"></a>
            </div>
        </div>
        @if (Model.ToList().Count > 0)
        {


            <div class="table-responsive">
                <table class="table table-striped table-bordered" id="my_table">
                    <thead class=thead.light>
                        <tr>
                            <th>ID</th>
                            <th>Make Model</th>
                            <th>Upcoming Flight</th>
                            <th>Departure</th>
                            <th>Arrival</th>
                            <th>Last maintained</th>
                            <th>Status</th>
                            <th>Edit</th>
                            <th>Edit Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.AircraftID</td>
                            <td>@item.MakeModel</td>
                            @if (item.DepartureCity == "" | item.DepartureDateTime < DateTime.Now )
                            {
                                <td>-------</td>
                                <td>-------</td>
                                <td>-------</td>
                            }
                            else
                            {
                                <td>@item.DepartureCity ---> @item.ArrivalCity</td>
                                <td>@item.DepartureDateTime </td>
                                <td>@item.ArrivalDateTime</td>
                            }   

                            <td>@item.DateOfLastMaintenance.Value.ToShortDateString()</td>
                            @if (item.Status == "Operational")
                            {
                                <td style="color:green">Operational</td>
                            }
                            else
                            {
                                <td style="color:red">Under Maintenance</td>
                            }
                            <td>
                                <a asp-action="Details" asp-controller="Aircraft"
                                   asp-route-id="@item.AircraftID">Details</a>
                            </td>
                            <td>
                                <a asp-action="EditStatus" asp-controller="Aircraft"
                                   asp-route-id="@item.AircraftID">Edit Status</a>
                            </td>
                           
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h2>No record found!</h2>
        }

    </body>
