﻿@model WEB2020Apr_P03_T4.Models.Aircraft
    <html>
    <head>
        <!-- Use Unicode character encoding - multi-language compatibity -->
        <meta charset="utf-8">
        <!-- Set the initial view zooming scale for mobile device -->
        <meta name="viewport" content="width = device-width, initial-scale = 1" />
        <title>Aircraft Create</title>
        <!-- Reference to customized styling for this website -->
        <link rel="stylesheet" type="text/css" href="~/css/Aircraft/Create.css">
    </head>
    <body>

        <div class="title">
            <h2><u>Create new Aircraft Entry</u></h2>
        </div>
        <form asp-action="Create">
            <div class=flexbox-container>
                <div class=flexbox-container2>
                    <label asp-for="MakeModel"></label>
                    <input asp-for="MakeModel" type="text" id="MakeModel" name="MakeModel">
                    <label asp-for="NumEconomySeat"></label>
                    <input asp-for="NumEconomySeat" type="number" id="NumEconomySeat" name="NumEconomySeat">
                    <label asp-for="NumBusinessSeat"></label>
                    <input asp-for="NumBusinessSeat" type="number" id="NumBusinessSeat" name="NumBusinessSeat">
                    <label asp-for="DateLastMaintenance"></label>
                    <input asp-for="DateLastMaintenance" type="date" id="DateLastMaintenance" name="DateLastMaintenance">
                    <label asp-for="Status"></label>
                   <select asp-for="Status" asp-items="@ViewData["StatusList"] as List<SelectListItem>" class="form-control"> </select>
                    <div flexbox-container3>
                        <input type="submit" value="Submit">
                        <input type="reset" value="Reset">
                </div>

                </div>
            </div>
        </form>

    </body>

    </html>

