﻿@model WEB2020Apr_P03_T4.Models.AircraftViewModel
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width, initial-scale = 1" />
    <title>Aircraft Details</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Aircraft/Details.css">
</head>
<body>
    <div class = "title">
        <h1><u>Aircraft Details</u></h1>
    </div>
    <div class="flexbox-container">
        <div class="flexbox-container2">
            <div class="flexbox-item">
                <p class="textHeading">Make Model:</p>
                <p class="textData">@Html.Display("MakeModel")</p>
            </div>
            <div class="flexbox-item">
                <p class="textHeading">Number Of Economy Seats:</p>
                <p class="textData">@Html.Display("NumEconomySeat")</p>
            </div>
            <div class="flexbox-item">
                <p class="textHeading">Number of Business Seats</p>
                <p class="textData">@Html.Display("NumBusinessSeat")</p>
            </div>
            <div class=flexbox-item>
                <p class="textHeading">Date of last maintainenance</p>
                <p class="textData">@Html.Display("DateLastMaintenance")</p>
            </div>
            <div class=flexbox-item>
                <p class="textHeading">Current Aircraft Status</p>
                <p class="textHeading">@Html.Display("Status")</p>
            </div>
        </div>
    </div>
    <div class="flexbox-container">
        <div class="flexbox-container3">
            <div class="table-container">
                <h3>Flight History</h3>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Schedule ID</th>
                                <th>Flight Number</th>
                                <th>Departure</th>
                                <th>Arrival</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.AircraftHistory)
                            {
                                <tr>
                                    <td>@item.ScheduleID</td>
                                    <td>@item.FlightNumber</td>
                                    <td>@item.DepartureCity <br /> @item.DepartureDateTime.Value.ToShortDateString()</td>
                                    <td>@item.ArrivalCity <br /> @item.ArrivalDateTime.Value.ToShortDateString()</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="table-container">

                <h3>Upcoming Flights</h3>
                <div class="table-responsive">

                    <table class="table table-striped table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Schedule ID</th>
                                <th>Aircraft ID</th>
                                <th>Flight Number</th>
                                <th>Departure</th>
                                <th>Arrival</th>
                                <th>Assign</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.AllFlights)
                            {
                                if (item.DepartureDateTime > DateTime.Now)
                                {
                                    <tr>
                                        <td>@item.ScheduleID</td>
                                        <td>@item.AircraftID</td>
                                        <td>@item.FlightNumber</td>
                                        <td>@item.DepartureCity <br /> @item.DepartureDateTime.Value.ToShortDateString()</td>
                                        <td>@item.ArrivalCity <br /> @item.ArrivalDateTime.Value.ToShortDateString()</td>
                                        <td>
                                            @if (Model.Status == "Operational")
                                            {
                                                <a asp-controller="Aircraft" asp-action="Edit" asp-route-id="@item.ScheduleID">Assign</a>
                                            }
                                            else
                                            {
                                                <p>Assignment not available</p>
                                            }
                                        </td>

                                    </tr>
                                }

                            }
                        </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</body>
