﻿@model WEB2020Apr_P03_T4.Models.Aircraft

@{
    ViewData["Title"] = "EditStatus";
}

<h1>EditStatus</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditStatus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AircraftID" class="control-label"></label>
                <input asp-for="AircraftID" class="form-control" readonly />
                <span asp-validation-for="AircraftID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MakeModel" class="control-label"></label>
                <input asp-for="MakeModel" class="form-control" readonly />
                <span asp-validation-for="MakeModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumEconomySeat" class="control-label"></label>
                <input asp-for="NumEconomySeat" class="form-control" readonly />
                <span asp-validation-for="NumEconomySeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumBusinessSeat" class="control-label"></label>
                <input asp-for="NumBusinessSeat" class="form-control" readonly />
                <span asp-validation-for="NumBusinessSeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateLastMaintenance" class="control-label"></label>
                <input asp-for="DateLastMaintenance" class="form-control" readonly />
                <span asp-validation-for="DateLastMaintenance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="@ViewData["StatusList"] as List<SelectListItem>" class="form-control"> </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <br /> <span style="color:red;">@TempData["Message"]</span>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

