﻿@model IEnumerable<Group4WEB.Models.Booking>

@{
    ViewData["Title"] = "Package2List";
}

<!-- Done by QH -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/package2.css" />
</head>
<body>
    <h1 class="textclassheading">View Ticket Bookings for Flight Schedule @ViewData["ScheduleID"]</h1>
    <div class="form-group row morepadding" style="justify-content: center; align-items: center">
        <a class="btn btn-primary deletebutton morepadding" asp-controller="FlightSchedule" asp-action="Index">Back to Flight Schedules</a>
    </div>
    <table class="table">
        <thead class="tableheadcolor">
            <tr class="tableborder">
                <th class="textclassinput">
                    @Html.DisplayNameFor(model => model.BookingID)
                </th>
                <th class="textclassinput">
                    @Html.DisplayNameFor(model => model.CustomerID)
                </th>
                <th class="textclassinput">
                    @Html.DisplayNameFor(model => model.ScheduleID)
                </th>
                <th class="textclassinput">
                    @Html.DisplayNameFor(model => model.PassengerName)
                </th>
                <th class="textclassinput">
                    @Html.DisplayNameFor(model => model.PassportNumber)
                </th>
                <th class="textclassinput">
                    @Html.DisplayNameFor(model => model.Nationality)
                </th>
                <th class="textclassinput">
                    @Html.DisplayNameFor(model => model.SeatClass)
                </th>
                <th class="textclassinput">
                    @Html.DisplayNameFor(model => model.AmtPayable)
                </th>
                <th class="textclassinput">
                    @Html.DisplayNameFor(model => model.Remarks)
                </th>
                <th class="textclassinput">
                    @Html.DisplayNameFor(model => model.DateTimeCreated)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="tableborder">
                    <td class="textclassinput">
                        @Html.DisplayFor(modelItem => item.BookingID)
                    </td>
                    <td class="textclassinput">
                        @Html.DisplayFor(modelItem => item.CustomerID)
                    </td>
                    <td class="textclassinput">
                        @Html.DisplayFor(modelItem => item.ScheduleID)
                    </td>
                    <td class="textclassinput">
                        @Html.DisplayFor(modelItem => item.PassengerName)
                    </td>
                    <td class="textclassinput">
                        @Html.DisplayFor(modelItem => item.PassportNumber)
                    </td>
                    <td class="textclassinput">
                        @Html.DisplayFor(modelItem => item.Nationality)
                    </td>
                    <td class="textclassinput">
                        @Html.DisplayFor(modelItem => item.SeatClass)
                    </td>
                    <td class="textclassinput">
                        @Html.DisplayFor(modelItem => item.AmtPayable)
                    </td>
                    <td class="textclassinput">
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    <td class="textclassinput">
                        @Html.DisplayFor(modelItem => item.DateTimeCreated)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>


